@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "AvenirNext";
  src: url(~assets/fonts/all.woff2) format("woff2");
}

* {
  font-family: "AvenirNext", sans-serif;
}
